<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 系统已安装应用查询 -->
    <queries>
        <!-- 高德地图 -->
        <package android:name="com.autonavi.minimap" />
        <!-- 百度地图 -->
        <package android:name="com.baidu.BaiduMap" />
    </queries>

    <application>
        <activity
            android:name=".activity.map.MapActivity"
            android:exported="true" />
        <activity
            android:name=".activity.navigation.MapNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.offline.MapOfflineActivity"
            android:exported="true" />
        <activity
            android:name=".activity.search.LocationSearchActivity"
            android:exported="true" />
        <activity
            android:name=".activity.show.LocationShowActivity"
            android:exported="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.d10ng.mapbox.startup.StartupInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>